<div class="mainStore">
  <ul class="filterSort">
    <li><input type="text" name="name" value="" placeholder="Search for items" class="filterSearch" ng-model="searchFilter"></li>
    <li>Sort By: <a href="" ng-click="selectSort('-price')"> Highest Price </a> | <a href="" ng-click="selectSort('price')"> Lowest Price </a> | <a href="" ng-click="selectSort('title')">Title (A to Z)</a> | <a href="" ng-click="selectSort('-title')">Title (Z to A)</a></li>
  </ul>
  <product-item class="storeItem" ng-repeat = "el in items | orderBy:sortName | filter:searchFilter" p="el"></product-item>
</div>
